$g-bgcolor: #fff;
$g-bdcolor: #dcdee1;
$g-clickable: #333;
$g-font-family: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
$g-max-width: 640px;
$g-font-size: 16px;
$g-zindex-seed-normal: 1;
$g-zindex-seed-loading: 100;
$g-zindex-seed-mask: 500;
$g-zindex-seed-special: 1000;
