/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

header, footer, nav, menu, main, section, article, aside,
details, figcaption, figure, summary, hgroup {
  display: block;
}

h1, h2, h3, h4, h5, h6, p, img, a, pre,
blockquote, q, del, small, abbr, address, sub, sup,
em, i, strong, b, tt, code, dfn, samp, var, cite, mark,
dd, dl, dt, ol, ul, li,
fieldset, legend, caption,
form, label, button, input, select, textarea,
table, tr, th, td {
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
  border: 0 none;
}

ul, li {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

b, strong {
  font-weight: 700;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  box-sizing: content-box;
  height: 0;
}

button {
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: button;
}

input, select, textarea {
  outline: none;
  vertical-align: middle;
  border-radius: 5px;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type='radio'] {
  margin-right: 5px;
  height: 18px;
  width: 18px;
}

input::-webkit-input-placeholder {
  color: #999;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

textarea {
  display: block;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #999;
}

select {
  display: block;
  padding: 0 5px;
  width: 100%;
  height: 40px;
  -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 0px;
}

/* base */
.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.break {
  word-break: break-all;
  word-wrap: break-word;
}

.underline {
  text-decoration: underline;
}

/* layout */
.container {
  padding: 0 1.25rem;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed !important;
}

.absolute {
  position: absolute;
}

.col-1 {
  float: left;
  position: relative;
  width: 8.33333%;
}

.col-2 {
  float: left;
  position: relative;
  width: 16.66667%;
}

.col-2-4 {
  float: left;
  position: relative;
  width: 20%;
}

.col-3 {
  float: left;
  position: relative;
  width: 25%;
}

.col-4 {
  float: left;
  position: relative;
  width: 33.33333%;
}

.col-5 {
  float: left;
  position: relative;
  width: 41.66667%;
}

.col-6 {
  float: left;
  position: relative;
  width: 50%;
}

.col-7 {
  float: left;
  position: relative;
  width: 58.33333%;
}

.col-8 {
  float: left;
  position: relative;
  width: 66.66667%;
}

.col-9 {
  float: left;
  position: relative;
  width: 75%;
}

.col-12 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.clearfix,
.container:after,
.col-1::after,
.col-2::after,
.col-2-4::after,
.col-3::after,
.col-4::after,
.col-5::after,
.col-6::after,
.col-7::after,
.col-8::after,
.col-9::after,
.col-12::after {
  content: "";
  display: table;
  clear: both;
}

.p10 {
  padding: 0.625rem;
}

.p-10 {
  padding: 0 0.625rem;
}

.p15 {
  padding: 0.9375rem;
}

.p-15 {
  padding: 0 0.9375rem;
}

.p20 {
  padding: 1.25rem;
}

.p-20 {
  padding: 0 1.25rem;
}

.p30 {
  padding: 1.875rem;
}

.p-30 {
  padding: 0 1.875rem;
}

.p-50 {
  padding: 0 3.125rem;
}

.p-60 {
  padding: 0 3.75rem;
}

.p-80 {
  padding: 0 5rem;
}

.bk {
  display: block;
  width: 100%;
}

.noindent {
  text-indent: 0;
}

/* button */
.btn {
  width: 100%;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
  letter-spacing: 0.125rem;
  background-color: #ff8400;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0 0.0625rem 0.3125rem rgba(0, 0, 0, 0.15);
}

/* keyframes */
@-webkit-keyframes ani-rond {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes ani-rond {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes ani-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ani-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ani-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ani-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* header */
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  line-height: 2.75rem;
  text-align: center;
  color: #ff8400;
  font-size: 1.125rem;
  background-color: #fff;
  border-bottom: 0.0625rem solid #ddd;
  overflow: hidden;
}

header span {
  display: inline-block;
  position: absolute;
  top: 0.75rem;
  left: 0.625rem;
  width: 1.25rem;
  height: 1.25rem;
  background: url(../images/ico-arrow-left.png) center no-repeat;
  background-size: 100%;
  cursor: pointer;
}

footer {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
  background-color: #fff;
  border-top: 0.0625rem solid #ddd;
}

/* main */
.main {
  position: relative;
  left: 0;
  top: 2.75rem;
  padding: 1.25rem;
  height: 100%;
  overflow: hidden;
}

.main h1 {
  font-size: 1.875rem;
}

.main p {
  line-height: 3.125rem;
}

/* Todo index */
.index {
  overflow: auto;
}
