@charset "UTF-8";

@import 'global/_common';
@import 'partial/_pagebar';

/* index */
.index {
  padding-top: 0;
  .header {
    height: 300px;
    background: url('../img/index_header_bg.png') no-repeat;
    background-size: 100%;
    &-top {
      position: relative;
      height: 58px;
      .btn-location {
        display: inline-block;
        position: absolute;
        top: 18px;
        left: 10px;
        padding-left: 30px;
        width: 100px;
        height: 28px;
        background: url('../img/icon_location.png') no-repeat left center;
        background-size: 28px;
        > em {
          float: left;
          line-height: 28px;
          font-size: 14px;
          color: $btncolor;
        }
      }
      .btn-menu {
        position: absolute;
        top: 18px;
        right: 10px;
        width: 28px;
        height: 28px;
        background: url('../img/icon_menu.png') no-repeat;
        background-size: 28px;
      }
    }
    .search {
      position: relative;
      margin-top: 10px;
      height: 37px;
      .logo {
        position: absolute;
        top: 5px;
        left: 20px;
        width: 68px;
        height: 27px;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      &-box {
        position: absolute;
        top: 0;
        right: 10px;
        width: 256px;
        height: 37px;
        input {
          width: 198px;
          height: 37px;
          border-radius: 5px 0 0 5px;
        }
        button {
          width: 58px;
          height: 37px;
          border-radius: 0 5px 5px 0;
          background: $hlcolor;
          color: $btncolor;
        }
      }
    }
    .nav {
      ul {
        padding: 0 10px;
        li {
          position: relative;
          float: left;
          margin-top: 20px;
          width: 25%;
          height: 68px;
          text-align: center;
          a {
            display: block;
          }
          i {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 44px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 44px;
            &.icon-nav1 {
              background-image: url('../img/icon_nav1.png');
            }
            &.icon-nav2 {
              background-image: url('../img/icon_nav2.png');
            }
            &.icon-nav3 {
              background-image: url('../img/icon_nav3.png');
            }
            &.icon-nav4 {
              background-image: url('../img/icon_nav4.png');
            }
            &.icon-nav5 {
              background-image: url('../img/icon_nav5.png');
            }
            &.icon-nav6 {
              background-image: url('../img/icon_nav6.png');
            }
            &.icon-nav7 {
              background-image: url('../img/icon_nav7.png');
            }
            &.icon-nav8 {
              background-image: url('../img/icon_nav8.png');
            }
          }
          span {
            display: block;
            padding-top: 48px;
            line-height: 20px;
            font-size: 14px;
            color: $color;
          }
        }
      }
    }
  }
  .banner {
    height: 102px;
    .swiper-container {
      width: 100%;
      height: 102px;
    }
    .swiper-slide {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      text-align: center;
    }
    .swiper-pagination {
      top: auto;
      bottom: 4px;
      height: 8px;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 4px;
      border-radius: 0;
      opacity: 0.6;
      background: $bgcolor;
      cursor: pointer;
      &-active {
        background: $hlcolor;
      }
    }
  }
  .advantages {
    margin-top: 10px;
    padding: 10px;
    background: $bgcolor1;
    img {
      width: 100%;
    }
  }
  .tab-box {
    &-nav {
      height: 36px;
      border-bottom: 1px solid $bdcolor;
      .swiper-slide {
        text-align: center;
      }
      .swiper-slide-active {
        font-weight: 600;
        color: $hlcolor;
      }
      span {
        height: 36px;
        line-height: 36px;
      }
      .nav-bar {
        position: absolute;
        bottom: 0px;
        height: 3px;
        > div {
          margin: 0 auto;
          width: 50%;
          height: 3px;
          background-color: $hlcolor;
          border-radius: 3px;
        }
      }
    }
  }
  .schools {
    margin-top: 10px;
    background: $bgcolor1;
    &-box {
      &-page {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 10px;
          li {
            margin-bottom: 10px;
            width: 172px;
            height: 105px;
            border-radius: 4px;
            border: 1px solid $bdcolor1;
            text-align: center;
            overflow: hidden;
            a {
              display: block;
            }
            img {
              width: 170px;
              height: 82px;
            }
            span {
              display: block;
              height: 18px;
              line-height: 18px;
              font-size: 12px;
              color: $color1;
            }
          }
        }
      }
    }
  }
  .featured-courses {
    margin-top: 10px;
    background: $bgcolor1;
    &-box {
      padding-bottom: 10px;
      ul {
        padding: 0 10px;
        li {
          position: relative;
          margin-bottom: 10px;
          border-radius: 4px;
          border: 1px solid $bdcolor1;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            display: block;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
          }
          .img {
            margin: 10px;
            width: 134px;
            height: 78px;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .cnt {
            flex: 1;
            margin: 10px 40px 10px 0;
            h3 {
              line-height: 24px;
              font-size: 16px;
              font-weight: 600;
              color: $color;
            }
            p {
              margin-bottom: 5px;
              line-height: 16px;
              font-size: 12px;
              color: $color1;
              &:last-child {
                color: $color2;
              }
              em {
                display: inline-block;
                margin-left: 20px;
              }
            }
          }
          .btn-consult {
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
            height: 100%;
            line-height: 30px;
            color: $btncolor;
            background-color: $hlcolor;
            border-radius: 0 4px 4px 0;
            text-align: center;
            writing-mode: vertical-lr;
          }
        }
      }
    }
  }
  .courses {
    margin-top: 10px;
    background: $bgcolor1;
    &-box {
      &-page {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 10px;
          li {
            margin-bottom: 10px;
            width: 172px;
            height: 185px;
            border-radius: 4px;
            border: 1px solid $bdcolor1;
            overflow: hidden;
            a {
              display: block;
            }
            img {
              width: 170px;
              height: 97px;
            }
            h3 {
              margin: 10px 0;
              padding: 0 5px;
              font-size: 16px;
              font-weight: 600;
            }
            p {
              padding: 0 5px;
              line-height: 18px;
              font-size: 12px;
              color: $color1;
              &.des {
                margin-bottom: 10px;
                em {
                  display: inline-block;
                  margin-left: 10px;
                }
              }
              &:last-child {
                position: relative;
                margin-bottom: 10px;
                .btn-consult {
                  position: absolute;
                  top: -3px;
                  right: 5px;
                  width: 52px;
                  line-height: 20px;
                  background: $hlcolor;
                  color: $btncolor;
                  border-radius: 12px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  .news {
    margin-top: 10px;
    background: $bgcolor1;
    &-box {
      &-page {
        ul {
          padding: 10px;
          li {
            position: relative;
            padding-left: 18px;
            line-height: 36px;
            background: url('../img/icon_dot.png') no-repeat -9px 7px;
            background-size: 28px;
            span {
              position: absolute;
              top: 0;
              right: 0;
              display: inline-block;
              line-height: 36px;
              font-size: 12px;
              color: $color1;
            }
          }
        }
      }
    }
  }
  .footer {
    position: relative;
    margin-top: 10px;
    padding-top: 80px;
    height: 180px;
    background: url('../img/index_footer_bg.png') no-repeat;
    background-size: 100%;
    .btn-contact {
      position: absolute;
      top: 15px;
      right: 20px;
      width: 98px;
      height: 37px;
      line-height: 37px;
      font-size: 16px;
      background: $hlcolor;
      color: $btncolor;
      text-align: center;
      border-radius: 18px;
    }
    ul {
      margin: 0 auto 5px;
      width: 325px;
      @include clearfix();
      li {
        float: left;
        margin-right: 10px;
        padding-right: 10px;
        height: 20px;
        border-right: 1px solid $bdcolor2;
        &:last-child {
          margin-right: 0;
          padding-right: 0;
          border-right: 0;
        }
        a {
          display: inline-block;
          line-height: 20px;
          font-size: 12px;
          color: #040f3a;
        }
      }
    }
    p {
      line-height: 20px;
      font-size: 12px;
      color: #040f3a;
      text-align: center;
    }
  }
}

/* school */
.school {
  &-box {
    margin-top: 10px;
    background: $bgcolor1;
    &-header {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      height: 40px;
      border-bottom: 1px solid $bdcolor1;
      > div {
        position: relative;
        width: 33.333333%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        i {
          display: inline-block;
          margin-left: 5px;
          width: 16px;
          height: 16px;
          line-height: 40px;
          background: url('../img/icon_arrow.png') no-repeat left center;
          background-size: 16px;
          vertical-align: middle;
        }
        .filter {
          display: none;
          position: absolute;
          top: 39px;
          z-index: 10000;
          width: 356px;
          background: $bgcolor1;
          box-shadow: 0px 3px 6px 1px rgba(35, 67, 135, 0.34);
          border-radius: 6px;
          ul {
            li {
              padding-left: 35px;
              height: 36px;
              border-bottom: 1px solid $bdcolor1;
              text-align: left;
              &:last-child {
                border-bottom: 0;
              }
              a {
                display: block;
                line-height: 36px;
                font-size: 14px;
                color: $color1;
              }
              &:hover {
                background-color: $bgcolor2;
                a {
                  font-weight: 600;
                  color: $hlcolor;
                }
              }
            }
          }
        }
        &:first-child {
          .filter {
            left: 0;
          }
        }
        &:nth-child(2) {
          .filter {
            left: -118px;
          }
        }
        &:last-child {
          .filter {
            left: -236px;
          }
        }
        &:hover {
          i {
            transform: rotate(180deg);
          }
          .filter {
            display: block;
          }
        }
      }
    }
    &-content {
      ul {
        padding: 10px;
        li {
          margin-bottom: 10px;
          background: linear-gradient(180deg, rgba(0, 45, 245, 0.07) 0%, rgba(245, 245, 255, 0.03) 100%);
          border-radius: 4px;
          border: 1px solid $bdcolor2;
          &:last-child {
            margin-bottom: 0;
          }
          .sbc-top {
            border-bottom: 1px solid $bdcolor2;
            a {
              display: block;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
            }
            .img {
              margin: 10px;
              width: 134px;
              max-height: 78px;
              overflow: hidden;
              img {
                width: 100%;
                border-radius: 4px;
              }
            }
            .cnt {
              flex: 1;
              margin: 10px 40px 10px 0;
              h3 {
                line-height: 24px;
                font-size: 16px;
                font-weight: 600;
                color: $color;
              }
              p {
                margin-bottom: 5px;
                line-height: 16px;
                font-size: 12px;
                color: $color1;
                &:last-child {
                  color: $color2;
                }
                em {
                  display: inline-block;
                  margin-right: 5px;
                  margin-bottom: 5px;
                  padding: 2px 8px;
                  font-size: 10px;
                  color: $bdcolor2;
                  border: 1px solid $bdcolor2;
                  border-radius: 6px;
                }
              }
            }
          }
          .sbc-btm {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 10px 0;
            a {
              display: block;
              width: 50%;
              line-height: 14px;
              font-size: 14px;
              text-align: center;
              color: $hlcolor2;
              border-right: 1px solid $bdcolor2;
              &.apply {
                color: $hlcolor;
                border-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
