/* file icon */
.icon,.bicon{background:url(../images/icons/file-icons.png) no-repeat;background-position:0 0;display:-moz-inline-box;-moz-box-align:center;display:inline-block;_display:inline;zoom:1;vertical-align:middle;overflow:hidden;margin-right:3px}
.icon{width:16px;height:16px}
.undefined,.ico1{background-position:0 0}
.xls,.xlsx,.ico2{background-position:-32px 0}
.doc,.docx,.ico3{background-position:-64px 0}
.ppt,.pptx,.ico4{background-position:-96px 0}
.7z,.ico5{background-position:-128px 0}
.rar,.ico6{background-position:-160px 0}
.zip,.ico7{background-position:-192px 0}
.iso,.ico8{background-position:-224px 0}
.ico9{background-position:-256px 0}
.htm,.html,.shtml,.ico10{background-position:-288px 0}
.js,.ico11{background-position:-320px 0}
.xml,.css,.ico12{background-position:-352px 0}
.chm,.hlp,.ico13{background-position:-384px 0}
.exe,.ico14{background-position:-416px 0}
.ico15{background-position:-448px 0}
.ttf,.ttc,.fon,.otf,.ico16{background-position:-480px 0}
.pdf,.ico17{background-position:-512px 0}
.psd,ico18{background-position:-544px 0}
.ai,.ico19{background-position:-576px 0}
.fla,.ico20{background-position:-608px 0}
.swf,.ico21{background-position:-640px 0}
.asp,.txt,.ico22{background-position:-672px 0}
.rtf,.ico23{background-position:-704px 0}
.reg,.key,.ico24{background-position:-736px 0}
.ico25{background-position:-768px 0}
.ico26{background-position:-800px 0}
.ico27{background-position:-832px 0}
.ico28{background-position:-864px 0}
.ico29{background-position:-896px 0}
.jpg,.ico31{background-position:0 -32px}
.gif,.ico32{background-position:-32px -32px}
.png,.ico33{background-position:-64px -32px}
.bmp,.ico34{background-position:-96px -32px}
.tif,.ico35{background-position:-128px -32px}
.emf,.ico36{background-position:-160px -32px}
.wmf,.ico37{background-position:-192px -32px}
.ico,.ico38{background-position:-224px -32px}
.raw,.ico39{background-position:-256px -32px}
.cdr,.ico40{background-position:-288px -32px}
.mdb,.cfg,.dll,.ico41{background-position:-320px -32px}
.torrent,.ico42{background-position:-352px -32px}
.dir{background-position:-384px -32px}
.bicon{width:32px;height:32px}
.bundefined,.bico1{background-position:0 -64px}
.bxls,.bxlsx,.bico2{background-position:-32px -64px}
.bdoc,.bdocx,.bico3{background-position:-64px -64px}
.bppt,.bpptx,.bico4{background-position:-96px -64px}
.bico5{background-position:-128px -64px}
.brar,.bico6{background-position:-160px -64px}
.bzip,.bico7{background-position:-192px -64px}
.bico8{background-position:-224px -64px}
.bico9{background-position:-256px -64px}
.bhtml,.bico10{background-position:-288px -64px}
.bjs,.bico11{background-position:-320px -64px}
.bxml,.bcss,.bico12{background-position:-352px -64px}
.bico13{background-position:-384px -64px}
.bico14{background-position:-416px -64px}
.bico15{background-position:-448px -64px}
.bico16{background-position:-480px -64px}
.bpdf,.bico17{background-position:-512px -64px}
.bico18{background-position:-544px -64px}
.bico19{background-position:-576px -64px}
.bico20{background-position:-608px -64px}
.bico21{background-position:-640px -64px}
.btxt,.bico22{background-position:-672px -64px}
.bico23{background-position:-704px -64px}
.bico24{background-position:-736px -64px}
.bico25{background-position:-768px -64px}
.bico26{background-position:-800px -64px}
.bico27{background-position:-832px -64px}
.bico28{background-position:-864px -64px}
.bico29{background-position:-896px -64px}
.bjpg,.bico31{background-position:0 -96px}
.bgif,.bico32{background-position:-32px -96px}
.bpng,.bico33{background-position:-64px -96px}
.bbmp,.bico34{background-position:-96px -96px}
.bico35{background-position:-128px -96px}
.bico36{background-position:-160px -96px}
.bico37{background-position:-192px -96px}
.bico38{background-position:-224px -96px}
.bico39{background-position:-256px -96px}
.bico40{background-position:-288px -96px}
.bico41{background-position:-320px -96px}
.bico42{background-position:-352px -96px}
.bdir{background-position:-384px -96px}